nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: .5s all cubic-bezier(0.4, 0, 0.2, 1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 1024px) {
            gap: 10px;
        }

        .logo {
            display: flex;
            flex: 1 1 0;
            max-width: 200px;
            min-width: 80px;
            transition: .5s all ease;

            @media (max-width:1500px) {
                max-width: 160px;
            }

            @media (max-width:1400px) {
                max-width: 140px;
            }

            img {
                width: 100%;
            }
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 40px;
            font-weight: 500;


            li {
                position: relative;
                display: flex;
                align-items: center;
                gap: 8px;
                padding-block: 12px;
                cursor: pointer;

                &:has(.submenu) {
                    padding-right: 20px;

                    &::before {
                        content: "";
                        background: url(/static/images/dropdown.svg) no-repeat center;
                        height: 12px;
                        width: 12px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        translate: 0 -50%;
                        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                    &:is(:hover, :has(:is(a.active, a:hover)))::before {
                        rotate: 180deg;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: .3s all ease;
                    position: relative;

                    &::before {
                        content: "";
                        height: 1px;
                        width: 0px;
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        translate: -50% 0;
                        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
                        background: $light-blue;
                    }

                }

                .submenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: #fff;
                    padding: 20px 20px 20px 12px;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    width: fit-content;
                    text-wrap: nowrap;
                    list-style-type: none;
                    pointer-events: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    opacity: 0;
                    transition: .3s all cubic-bezier(0.4, 0, 0.2, 1), opacity .3s ease-in-out, transform .3s ease-in-out;
                    

                    li {
                        margin: 0;
                        padding: 0;
                    }
                    
                    a {
                        min-width: 100px;
                        color: #333;
                        text-decoration: none;
                        transition: .3s all ease;

                        &:hover {
                            color: $light-blue;
                        }
                    }

                    @media (max-width:1250px) {
                        left: 50%;
                        translate: -50% 0;

                    }

                }

                &>a.active {
                    color: $light-blue;

                    &::before {
                        width: 100%;
                    }

                    &~.submenu {
                        pointer-events: all;
                        opacity: 1;
                    }
                }

                &:hover {

                    &>a,
                    &>a.active {
                        color: $light-blue;

                        &::before {
                            width: 100%;
                        }
                    }

                    .submenu {
                        pointer-events: all;
                        opacity: 1;
                    }
                }
            }

            @media (max-width: 1500px) {
                gap: 20px;
            }

            @media (max-width:1400px) {
                font-size: 15px;
            }

        }

        .container-nav-links {

            @media (max-width:1250px) {
                transition: .5s all cubic-bezier(0.4, 0, 0.2, 1),
                    .5s border-radius ease-in-out;
                background: $main-blue-blur;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                padding: 20px;
                z-index: 1;
                position: fixed;
                top: 0;
                left: auto;
                height: 100dvh;
                width: 80dvw;
                right: -80dvh;
                opacity: 0;
                pointer-events: none;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                scale: 0.5;

                &.show {
                    right: 0;
                    scale: 1;
                    border-radius: 0;
                    opacity: 1;
                    pointer-events: all;

                }

                .nav-links {
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                }
            }

            .closeMenu {
                position: absolute;
                top: 20px;
                right: 20px;
                display: none;
                padding: 12px;

                img {
                    height: 16px;
                    width: 16px;
                    object-fit: contain;
                    translate: 0 0;
                }

                @media (max-width:1250px) {

                    display: flex;
                }
            }

            li:has(.citeBTN) {
                display: none;

                .base-btn.citeBTN {
                    color: $main-blue;

                    &::before {
                        display: none;
                    }
                }

                @media (max-width:1250px) {
                    display: flex;
                }
            }

        }

        .actions {
            display: flex;
            gap: 20px;

            .search {
                padding-inline-end: 20px;
                border-inline-end: 1px solid #FFF;
                display: flex;
                align-items: center;
                height: 18px;
                align-self: center;

                .searchBTN {
                    display: flex;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-family: "Cairo", sans-serif;
                }

                img {
                    height: 20px;
                    width: 20px;
                    translate: 0 0;
                }

                .imgAR {
                    display: none;

                    [dir="ltr"] & {
                        display: block;
                    }
                }

                .imgEN {
                    display: none;

                    [dir="rtl"] & {
                        display: block;
                    }
                }
            }

            .menuBTN {
                display: none;
                padding: 8px 12px;
                height: 42px;
                width: 42px;

                img {
                    height: 16px;
                    width: 16px;
                    object-fit: contain;
                    translate: 0 0;
                }

                @media (max-width:1250px) {
                    display: flex;
                }
            }

            @media (max-width:1300px) {
                gap: 10px;

                .search {
                    padding-inline-end: 10px;
                }
            }

            @media (max-width:1250px) {
                .base-btn.white-btn.citeBTN {
                    display: none;
                }
            }
        }
    }

    &.scrolling {
        background-color: #0000006f;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        .container {
            .logo {
                max-width: 160px;

                @media (max-width:1500px) {
                    max-width: 140px;
                }

                @media (max-width:1400px) {
                    max-width: 120px;
                }
            }
        }
    }
}